.u-section-1 .u-sheet-1 {min-height: 755px}
.u-section-1 .u-text-1 {font-weight: normal; margin: 130px 411px 0 30px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 123px}
.u-section-1 .u-container-layout-1 {padding: 30px 30px 29px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin: 0}
.u-section-1 .u-list-1 {min-height: 298px; grid-gap: 10px 10px; grid-template-columns: 100%; margin: 0 auto 60px 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-3 {margin: 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-4 {margin-left: 0; margin-right: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 365px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 101px}
.u-section-1 .u-text-2 {margin-top: 10px}
.u-section-1 .u-list-1 {height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 312px}
.u-section-1 .u-layout-cell-1 {min-height: 117px}
.u-section-1 .u-text-2 {margin-top: -22px} }

@media (max-width: 767px){ .u-section-1 .u-layout-cell-1 {min-height: 88px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 325px}
.u-section-1 .u-text-1 {width: auto; margin-top: 60px; margin-right: 115px; margin-left: 0}
.u-section-1 .u-layout-wrap-1 {margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 55px}
.u-section-1 .u-text-2 {margin-top: -7px; margin-bottom: -7px} }